@font-face {
  font-family: "Nunito";
  src: local("Nunito-Light"),
    url("../resources/fonts/Nunito-Light.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Urbanist";
  src: local("Urbanist-Regular"),
    /* url("../resources/fonts/Nunito-Light.ttf") format("truetype"); */
    url("../resources/fonts/Urbanist-Regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  font-family: 'Urbanist', 'Nunito' !important;
}

:root {
	--ion-color-primary: #409d55;
	--ion-color-primary-rgb: 64,157,85;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #388a4b;
	--ion-color-primary-tint: #53a766;

	--ion-color-secondary: #fcaf19;
	--ion-color-secondary-rgb: 252,175,25;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #de9a16;
	--ion-color-secondary-tint: #fcb730;

	--ion-color-tertiary: #99ae28;
	--ion-color-tertiary-rgb: 153,174,40;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #879923;
	--ion-color-tertiary-tint: #a3b63e;

	--ion-color-success: #8dce53;
	--ion-color-success-rgb: 141,206,83;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #7cb549;
	--ion-color-success-tint: #98d364;

	--ion-color-warning: #f9e52f;
	--ion-color-warning-rgb: 249,229,47;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #dbca29;
	--ion-color-warning-tint: #fae844;

	--ion-color-danger: #e95606;
	--ion-color-danger-rgb: 233,86,6;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cd4c05;
	--ion-color-danger-tint: #eb671f;

	--ion-color-medium: #419487;
	--ion-color-medium-rgb: 65,148,135;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #398277;
	--ion-color-medium-tint: #549f93;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-primary: #409d55;
	--ion-color-primary-rgb: 64,157,85;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #388a4b;
	--ion-color-primary-tint: #53a766;

	--ion-color-secondary: #fcaf19;
	--ion-color-secondary-rgb: 252,175,25;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #de9a16;
	--ion-color-secondary-tint: #fcb730;

	--ion-color-tertiary: #99ae28;
	--ion-color-tertiary-rgb: 153,174,40;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #879923;
	--ion-color-tertiary-tint: #a3b63e;

	--ion-color-success: #8dce53;
	--ion-color-success-rgb: 141,206,83;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #7cb549;
	--ion-color-success-tint: #98d364;

	--ion-color-warning: #f9e52f;
	--ion-color-warning-rgb: 249,229,47;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #dbca29;
	--ion-color-warning-tint: #fae844;

	--ion-color-danger: #e95606;
	--ion-color-danger-rgb: 233,86,6;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cd4c05;
	--ion-color-danger-tint: #eb671f;

	--ion-color-medium: #419487;
	--ion-color-medium-rgb: 65,148,135;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #398277;
	--ion-color-medium-tint: #549f93;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
  }
}

body.dark {
  --ion-color-primary: #409d55;
	--ion-color-primary-rgb: 64,157,85;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #388a4b;
	--ion-color-primary-tint: #53a766;

	--ion-color-secondary: #fcaf19;
	--ion-color-secondary-rgb: 252,175,25;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #de9a16;
	--ion-color-secondary-tint: #fcb730;

	--ion-color-tertiary: #99ae28;
	--ion-color-tertiary-rgb: 153,174,40;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #879923;
	--ion-color-tertiary-tint: #a3b63e;

	--ion-color-success: #8dce53;
	--ion-color-success-rgb: 141,206,83;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #7cb549;
	--ion-color-success-tint: #98d364;

	--ion-color-warning: #f9e52f;
	--ion-color-warning-rgb: 249,229,47;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #dbca29;
	--ion-color-warning-tint: #fae844;

	--ion-color-danger: #e95606;
	--ion-color-danger-rgb: 233,86,6;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cd4c05;
	--ion-color-danger-tint: #eb671f;

	--ion-color-medium: #419487;
	--ion-color-medium-rgb: 65,148,135;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #398277;
	--ion-color-medium-tint: #549f93;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
}

.ios body.dark {
  --ion-background-color: #252525;
  --ion-background-color-rgb: 37, 37, 37;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-item-background: #1b1b1b;
  --ion-card-background: #1b1b1b;
}

.md body.dark {
  --ion-background-color: #252525;
  --ion-background-color-rgb: 37, 37, 37;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1b1b1b;
  --ion-card-background: #1b1b1b;
  --ion-toolbar-background: #0e0e0e;
  --ion-tab-bar-background: #0e0e0e;
}

:root {
  --ion-color-violet: #7e0afa;
  --ion-color-violet-rgb: 126, 10, 250;
  --ion-color-violet-contrast: #ffffff;
  --ion-color-violet-contrast-rgb: 255, 255, 255;
  --ion-color-violet-shade: #6f09dc;
  --ion-color-violet-tint: #8b23fb;
}

.ion-color-violet {
  --ion-color-base: var(--ion-color-violet);
  --ion-color-base-rgb: var(--ion-color-violet-rgb);
  --ion-color-contrast: var(--ion-color-violet-contrast);
  --ion-color-contrast-rgb: var(--ion-color-violet-contrast-rgb);
  --ion-color-shade: var(--ion-color-violet-shade);
  --ion-color-tint: var(--ion-color-violet-tint);
}

:root {
  --ion-color-blue: #0353a4;
  --ion-color-blue-rgb: 3, 83, 164;
  --ion-color-blue-contrast: #ffffff;
  --ion-color-blue-contrast-rgb: 255, 255, 255;
  --ion-color-blue-shade: #034990;
  --ion-color-blue-tint: #1c64ad;
}

.ion-color-blue {
  --ion-color-base: var(--ion-color-blue);
  --ion-color-base-rgb: var(--ion-color-blue-rgb);
  --ion-color-contrast: var(--ion-color-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-blue-shade);
  --ion-color-tint: var(--ion-color-blue-tint);
}

:root {
  --ion-color-tortoise: #81c293;
  --ion-color-tortoise-rgb: 129, 194, 147;
  --ion-color-tortoise-contrast: #000000;
  --ion-color-tortoise-contrast-rgb: 0, 0, 0;
  --ion-color-tortoise-shade: #72ab81;
  --ion-color-tortoise-tint: #8ec89e;
}

.ion-color-tortoise {
  --ion-color-base: var(--ion-color-tortoise);
  --ion-color-base-rgb: var(--ion-color-tortoise-rgb);
  --ion-color-contrast: var(--ion-color-tortoise-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tortoise-contrast-rgb);
  --ion-color-shade: var(--ion-color-tortoise-shade);
  --ion-color-tint: var(--ion-color-tortoise-tint);
}

:root {
  --ion-color-green: #058b28;
  --ion-color-green-rgb: 5, 139, 40;
  --ion-color-green-contrast: #ffffff;
  --ion-color-green-contrast-rgb: 255, 255, 255;
  --ion-color-green-shade: #047a23;
  --ion-color-green-tint: #1e973e;
}

.ion-color-green {
  --ion-color-base: var(--ion-color-green);
  --ion-color-base-rgb: var(--ion-color-green-rgb);
  --ion-color-contrast: var(--ion-color-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-green-shade);
  --ion-color-tint: var(--ion-color-green-tint);
}

:root {
  --ion-color-light-darker: #e3e3e3;
  --ion-color-light-darker-rgb: 227, 227, 227;
  --ion-color-light-darker-contrast: #000000;
  --ion-color-light-darker-contrast-rgb: 0, 0, 0;
  --ion-color-light-darker-shade: #c8c8c8;
  --ion-color-light-darker-tint: #e6e6e6;
}

.ion-color-light-darker {
  --ion-color-base: var(--ion-color-light-darker);
  --ion-color-base-rgb: var(--ion-color-light-darker-rgb);
  --ion-color-contrast: var(--ion-color-light-darker-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-darker-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-darker-shade);
  --ion-color-tint: var(--ion-color-light-darker-tint);
}

:root {
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

:root {
  --ion-color-beige: #f8e8c6;
  --ion-color-beige-rgb: 248,232,198;
  --ion-color-beige-contrast: #000000;
  --ion-color-beige-contrast-rgb: 0,0,0;
  --ion-color-beige-shade: #daccae;
  --ion-color-beige-tint: #f9eacc;
}

.ion-color-beige {
  --ion-color-base: var(--ion-color-beige);
  --ion-color-base-rgb: var(--ion-color-beige-rgb);
  --ion-color-contrast: var(--ion-color-beige-contrast);
  --ion-color-contrast-rgb: var(--ion-color-beige-contrast-rgb);
  --ion-color-shade: var(--ion-color-beige-shade);
  --ion-color-tint: var(--ion-color-beige-tint);
}
